.cart {
  z-index: 100;
  background-color: white;
  box-shadow: 0 0 50px rgb(221, 221, 221);
  border-radius: 16px;
  height: 84vh;
  right: -5%;
  position: fixed;
  top: 63px;
  opacity: 60%;
  
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  animation: sliceL;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.blur {
  z-index: 1;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: transparent;
  border: none;
  
  animation: suaveBlur;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.containerSubCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schroll {
  max-height: 260px;
  overflow-y: scroll;
}

.subCard {
  width: 95%;
  align-items: center;
  display: flex;

  height: 38px;

  margin: 5px;
}

.grey {
  background-color: rgb(241, 241, 241);
}

.rdard .a {
  flex-grow: 0.1;
  width: 50px;
}

.subCard .b {
  flex-grow: 6;
}

.subCard .c {
  flex-grow: 0.5;
}

.subCard .d {
  flex-grow: 0.5;
}

.subCard .e {
  flex-grow: 0.5;
}

.subCard .f {
  flex-grow: 0.5;
}


.subCard span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  text-align: center;
  width: 100px;
}

.subCard button {
  width: 100px;
  text-align: center;
  height: 38px;
  border: none;
  background-color: rgb(255, 202, 202);
}

.finishContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.finishContainer div {
  align-items: center;
  width: 32%;
  display: flex;
  flex-direction: column;
}

.finishContainer input {
  background-color: rgb(241, 241, 241);
  border: none;
  border-bottom: solid black 1px;
  height: 36px;
  margin-top: 5px;
  outline: none;
  padding: 0;
  text-align: center;
  width: 100%;
}

.finshB {
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  display: flex;
  height: 50px;
  bottom: 10px;
  position: absolute;
}

.finshB button {
  width: 40%;
  border: none;
  background-color: #c1dfc5;
}

.details {
  font-size: 18px;
  margin: 20px;
}

.totalPrice {
  margin-top: 10px;
  font-size: 25px;
}
@keyframes suaveBlur {

  to {
    backdrop-filter: blur(2px);
  }
}

@keyframes sliceL {

  to {
    opacity: 100%;
    right: 1%;
  }
}
