.loading {
  align-items: center;
  background-color: rgb(252, 254, 252);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
}
