.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.logo {
  margin-bottom: 20px;
  width: 200px;
}

.box {
  align-items: center;
  animation: appear;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-evenly;
  opacity: 60%;
  transform: translate(0, 10%);
  width: 390px;
}

.item {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 80%;
}

.item h2 {
  color: black;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  margin-left: 20px;
  margin-top: 10px;
}

.item input {
  background-color: rgb(241, 241, 241);
  border: none;
  border-bottom: solid rgb(70, 192, 53) 1px;
  height: 40px;
  outline: none;
  padding: 0;
  text-align: center;
  width: 100%;
}

.buttons button {
  background-color: #94b498;
  border: none;
  border-style: none;
  color: black;
  font-size: 14px;
  height: 40px;
  margin-bottom: 8px;
}

button:disabled {
  background-color: rgb(241, 241, 241);
  color: rgb(131, 131, 131);
  cursor: not-allowed;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.item input:focus {
  animation: inputFocus;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.item input:hover {
  animation: inputFocus;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes inputFocus {

  to {
    background-color: white;
    border-bottom: solid black 1px;
    font-size: 16px;
  }
}

@keyframes appear {

  to {
    opacity: 100%;
    transform: translate(0);
  }
}

.err {
  color: red;
  font-size: 12px;
}
