.order {
  align-items: center;
  animation: sliceR;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 0 50px rgb(221, 221, 221);
  display: flex;
  flex-direction: column;
  height: 84vh;
  left: -5%;
  opacity: 60%;
  position: fixed;
  top: 63px;
  width: 50%;
  z-index: 100;
}

.orderContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 72vh;
  overflow-y: scroll;
  width: 95%;
}

.cardOrder {
  align-items: center;
  border-radius: 16px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  width: 90%;
}

.cardOrder div {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.status {
  align-items: center;
  border-radius: 16px;
  display: flex;
  height: 80%;
  justify-content: center;
}

.Pendente {
  background-color: rgb(248, 193, 193);
}

.Entregue {
  background-color: rgb(195, 223, 195);
}

.Preparando {
  background-color: rgb(245, 240, 177);
}

@keyframes sliceR {

  to {
    left: 1%;
    opacity: 100%;
  }
}
