body {
  background-color: rgb(233, 233, 233);
  margin: 0;
  margin-top: 0;
  padding: 0;
}

h1 {
  font-weight: 300;
}

span {
  font-weight: 300;
}

h2 {
  font-weight: 300;
}

button {
  background-color: white;
}

button:hover {
  color: #94b498;
}

footer {
  color: rgb(102, 102, 102);
  position: fixed;
  background-color: rgb(233, 233, 233);
  bottom: 3px;
  text-align: center;
  width: 100%;
}